@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    margin: 0;
    font-family: 'Nunito Sans';
}

body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: calc(1256px + 40px);
    padding: 0 20px;
    max-width: 100%;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.button-none {
    background: none;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    margin-left: 20px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.logo {
    flex-shrink: 2;
    color: #E3B873;
}

.header-mobile {
    /* +7 (928) 768-32-39 */
    flex-shrink: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    margin-right: 10px;

}

.header,
.footer {
    background-color: black;
}

.header-content,
.menu {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    margin: 0;
    padding: 0;
    margin-right: 25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.header-navigation__item {
    margin-right: 47px;
    font-size: 11px;
    line-height: 1.3;
}

.header-navigation__item:last-child {
    margin-right: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.header--bottom {
    position: static;
}


/*--------------------------------------------------------------------------------------------------------------------------------*/
/*
БЛОК ПРОЕКТОВ
*/
.projects {
    background: #000;
}

.projects-slider {
    display: flex;
    gap: 50px;
}

.projects-slider__right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-slider__left {
    width: 442px;
    max-width: 45%;
}

.projects-nav__item {
    margin-right: 60.5px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.projects-nav__item a {
    /* Rostov-on-Don Patriotic */
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}


.header-navigation__item a:hover,
.projects-nav__item a:hover,
.style__left_item a:hover {
    color: #E3B873;
}

.hero {
    background-image: url('../images/hero.png');
    background-size: cover;
    padding: 194px 0 208px;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .7)
}

.hero-container {
    position: relative;
    z-index: 1;
}

.hero__main {
    padding: 0 42px;
}

.tittle {
    /* Turnkey Repair in the city of Rostov-on-Don */
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 19px;
    width: 676px;
    max-width: 100%;
}

.tittle-content {
    /* City: */
    margin: 0;
    margin-top: 42px;
    display: flex;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.apartament-tittle-text {
    padding: 0px calc(324.45px - 74.03px);
    /*padding: 0px 324.45px;*/
}

.cost-tittle-text {
    padding: 0px calc(324.45px - 188.75px);
    /* padding: 0px 324.45px;*/
}

.yellow {
    /*Rostov-on-Don*/
    color: #E3B873;
}

.text-content {
    margin-bottom: 30px;
    display: flex;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 504px;
    max-width: 100%;
}

.projects-text-content {
    /* Only a small part of the work performed by our company*/
    display: flex;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.apartament-text-content {
    padding: 0px calc(324.45px - 184.12px);
}

.request-text-content {
    padding: 0px calc(324.45px - 121.62px);
}

.projects {
    padding: 107px 0 240px;
}

.projects-main {
    display: flex;
    flex-direction: column;
    padding: 0 42px;
}

.projects-nav {
    margin-left: auto;
    display: inline-block;
    padding: 0 calc(42px + 56px);
    margin-bottom: 45px;
}

.projects-nav__list {
    margin: 0;
    padding: 0;
    display: flex;
}

.projects-nav__item:last-child {
    margin-right: 0;
}


.projects-nav__link {
    text-decoration: none;
    position: relative;
}

.projects-nav__link.active,
.style__left_link.active {
    color: #E3B873;
    position: relative;
}

.projects-nav__link.active::after,
.style__left_link.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    width: 100%;
    height: 1px;
    background: #E3B873;
}

.projects-tittle {
    /* Completed projects */

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 34px;

}

.projects-text-content {

    /* Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 42px;
}


.projects-mobile__slider {
    display: none;
}

.projects-mobile__sign {
    display: none;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 34px 29px;
}

.projects-grid__card__title {
    /*city*/
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.projects-grid__card__text {
    /*Rostov-on-Don
LCD admiral*/
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.projects-bottom__left {
    margin-top: 80px;
}


.projects-bottom {
    /* padding: 90.72px 623.45px; */
    width: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    margin: 90px auto 0;
}

.control-tittle {
    /* online control */
    display: flex;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bottom-pic-camera {
    /* pic camera */
    list-style: none;
    display: flex;
}


/*--------------------------------------------------------------------------------------------------------------------------------*/
/*
БЛОК ввода данных
*/

.input {
    position: relative;
    top: -200px;
}

.input-list {
    position: relative;
}

.repair {
    position: relative;
}

.repair-image {
    position: relative;
    margin: 0 auto;
    width: max-content;
    max-width: 100%;
}

.repair-image>img {
    width: 100%;
}

.play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}

.line_55 {
    /* line_55 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 62.5px auto 0;
    margin-bottom: 34.46px;
}

.request-text {
    /* At each facility, a camera is installed that broadcasts the progress of work on the clock. 
    At any time, you can go to our website and monitor the progress of work in your apartment. 
    You can watch the live broadcast from one of our facilities! 
    Leave a request below and you will receive a link to the broadcast. */

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin-bottom: 91.5px;
    width: 681px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 91px
}

.input-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    margin-bottom: 33.24px;
    gap: 33px 50px;
    flex-wrap: wrap;
}

.input_field {
    font-family: 'Nunito Sans';
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    max-width: 100%;
}

.input_field input {
    border: none;
    padding: 7px 0px 8px;
    outline: none;
    border-bottom: 1px solid #3636364D;
    width: 231px;
    max-width: 100%;
}

.checkbox {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}


.checkbox input {
    opacity: 0;
    position: relative;
    right: -28px;
}

.checkbox input+span {
    border-radius: 1px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E3B873;
    background-color: transparent; 
}

.checkbox input:checked + span::before {
    content: '\2713\0020';  /*Символ галочки Unicode */
    /*transform: rotate(45deg);*/
    color: white;       /* Белый цвет галочки */
    font-size: 14px;    /* Размер символа */
    position: relative; /* Положение относительно родителя */
}

.checkbox input:checked+span {
    background: #E3B873;
}

.input-bottom {
    width: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    padding-bottom: 31px;
    margin: 0 auto;
}

.input_button {
    padding: 20px 75px;
}

.type-repair-title {
    /* TYPES OF REPAIR */
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.bottom-pic-repair {
    /* pic repair */
    list-style: none;
    display: flex;
}



/*--------------------------------------------------------------------------------------------------------------------------------*/
/*
БЛОК дизайна
*/

.redecorating-text__item p,
.overhaul-text__item p,
.designer-text__item p {
    display: inline-block;
}

.design {
    background-color: white;
    position: relative;
    padding-bottom: 124px;

}

.design_card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.design-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.design-card img {
    width: 100%;
}

.design-card__text {
    width: 330px;
    height: 286px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    background: #FFF;
    /* border: 1px solid #000; */
    margin-top: calc(294px - 421px);
    display: flex;
    flex-direction: column;
    padding: 25px 29px 54px 34px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.design-card__list {
    padding: 0 14px;
}


.design-card__title {
    /* Overhaul */
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    padding-bottom: 13px;
}



.design-card__button {

    padding: 17px 22px;
    background: #E3B873;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: -28px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border: none;
}

.design-card__text {
    position: relative;
}

.design-card__price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}


/*--------------------------------------------------------------------------------------------------------------------------------*/
/*БЛОК measurer*/
.measurer {
    background-color: white;
    padding-bottom: 300px;
    background-image: url('../images/street.jpg');
    background-repeat: no-repeat;
}

.measurer__container {
    display: flex;
    gap: 210px;
}

.measurer-context {
    display: flex;
}

.measurer__left {
    padding: 12px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.measurer__left_back {
    width: 702px;
    max-width: 1006;
}


.measurer__item {
    display: flex;
    align-items: center;
    gap: 30px;

}

.measurer__item__number {
    color: #FFFFFF;
    background: #E3B873;
    border: 8px solid #FFF;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Yeseva One";
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    flex-shrink: 0;
}


.measurer__right {
    background: #131313;
    padding: 28px 49px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.request-measurer-text {
    color: #FFF;
    width: 297px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.measurer-grid_right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    padding-left: 49px;
}

.input-submit-measurer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    gap: 33px 50px;
    flex-wrap: wrap;
    padding: 39px 49px 27px 49px;
}

.input_field-measurer span {
    /* Email */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.input_field-measurer {
    /* What is your name: */
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF80;
    width: 408px;
    max-width: 100%;
    gap: 7px;
}

.input_field-measurer input {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF26;
    line-height: 164%;
    font-size: 14px;
    padding: 6px;
}

.input_field-measurer input::placeholder {
    color: #FFFFFF
}

.measurer__fields {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 16px;
}

.measurer-button {
    padding-left: 244px;
    padding-top: 39px;
}


.checkbox-measurer {
    /* I agree to the processing of personal data*/
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    margin-bottom: 39px;
    display: flex;
    width: 285px;
    max-width: 100%;
    gap: 8px;
}

.checkbox-measurer input {
    opacity: 0;
    width: 0;
    height: 0;
    /* visibility: hidden; */
    display: none;
}

.checkbox-measurer input+span {
    border-radius: 1px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E3B873;
    background-color: transparent; 
}

.checkbox-measurer input:checked + span::before {
    content: '\2713\0020';  /*Символ галочки Unicode */
    /*transform: rotate(45deg);*/
    color: white;       /* Белый цвет галочки */
    font-size: 14px;    /* Размер символа */
    position: relative; /* Положение относительно родителя */
}

.checkbox-measurer input:checked+span {
    background: #E3B873;
}

.input_button-measurer {
    align-self: flex-end;
}

.measurer-bottom {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 25px;
    top: calc(100% + 40px);
}

.measurer-bottom-picture {
    background: #E3B873;
    border-radius: 50%;
    width: 72px;
    max-width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.measurer-bottom-text {
    /* Help save 10 - 20% of the cost of materials */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}



/*БЛОК СТИЛЕЙ*/

.style {
    background-image: url('../images/back_style.jpg');
    background-size: cover;
    /* filter: brightness(50%); */
    position: relative;
    padding: 138px 0 98px;
}

.style::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.style__container {
    padding: 0 25px;
    /* margin: 0 auto; */
    width: 1290px;
    max-width: 100%;
    position: relative;
    z-index: 1;
}




.style_list {
    display: flex;
    padding-top: 137.47px;
    position: relative;
}

.style__left_list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}

.style__left_title {
    /* We realize your wildest fantasies */
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 47px;
}

.style__left_item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: white;
}

.style__left_item a {
    color: white;
    text-decoration: none;
}

.style__right-mobile {
    display: none;
}

.style-mobile__sign {
    display: none;
}

.style__right {
    display: flex;
    flex-direction: column;
    height: calc(100% + 160px);
    gap: 36px;
    flex-wrap: wrap;
    position: absolute;
    top: -112px;
    right: 100px;
    z-index: 1;
    max-width: 50%;
}

.style__right__card {
    width: 354px;
    max-width: 50%;
    flex: 1;
    object-fit: cover;
}

.style__right__card:first-child {
    margin-top: 72px;
    flex-shrink: 0;
}


.style__right__card:nth-child(2) {
    flex-shrink: 3;
}

.style__right__card:nth-child(3) {
    flex-shrink: 3;

}

.style__right__card:last-child {
    margin-bottom: 80px;
    flex-shrink: 0;
}



/*БЛОК КЛИЕНТОВ*/
/*_________________________________________________________________________________________________________*/
.client {
    padding-top: 110px;
    padding-bottom: 355px;
    background: url("../images/city.svg") bottom center;
    background-repeat: repeat no-repeat;
}

.client-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    margin: 0 auto;
}

.client-top-title {
    /* our clients */

    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;

}

.client-top-picture {
    list-style: none;
    display: flex;
    margin: auto;
    gap: 13px;
}

.client-top-text {
    /* 80% of our customers recommend us to their friends and family. */
    /*width: 476px;*/
    padding-bottom: 39px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.client_card {
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding: 24px 40px;
}

.client_card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.client_card-top {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    left: 0px;
    gap: 23px;
    margin-bottom: 24px;
}

.client_card-top-photo img {
    border-radius: 50%;
}

.client_card-top-name {
    /* Fedosova Maria Konstantinovna */
    /* padding: 41px 39px 23px; */
    /* width: 178px; */
    font-family: 'Yeseva One';
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.client_card-top-text {
    /* I want to thank the guys for their work. We put your shower part in repair. I am very grateful that I referred to the repair as to my own. Great thanks I express the project to Georgia for its professionalism and approach. The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters. */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    /* or 23px */
    color: #959595;
}


.client_card-bottom {
    display: inline-flex;
    background-color: #E3B873;
    position: relative;
    left: 0;
    bottom: -48px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}


.client_card-bottom {
    background: #E3B873;
}


.client_card-bottom__part {
    padding: 10px 15px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.client_card-bottom__part:first-child {
    border-right: 1px solid #FFF;
}

.client_card-bottom__part img {
    width: 32px;
    aspect-ratio: 1;
    flex-shrink: 0;
}

.client_card-bottom-size-text,
.client_card-bottom-celender-text {
    /* 40 m2 */
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.client-bottom {
    margin-top: -500px;
    margin-left: 700px;

}



/*БЛОК обратной связи*/

.contacts {
    background-image: url('../images/question-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contacts::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);

}

.contacts__inner {
    position: relative;
    top: -222px;
    z-index: 1;
}

.contacts-background {
    width: 883px;
    max-width: 100%;
    background-color: black;
    margin: 0 auto;
    padding: 35px 180px;
    margin-bottom: 52px;
}

.contacts-title {
    /* have any questions? */

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 46px;
    /* padding-top: 34px; */
}

.contacts__fields {
    display: flex;
    flex-direction: column;
    gap: 48px;
    /* margin: 34px 181px; */
}

.contacts__fields-person {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
}

.contacts__input_field {
    /* What is your name: */
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF80;
    /* background-color: black;   */
    flex: 1;
    max-width: 100%;
    gap: 7px;
}

.contacts__input_field input {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF26;
    line-height: 164%;
    font-size: 14px;
    padding: 6px;
}

.contacts__input_field input::placeholder {
    color: #FFFFFF
}


.contacts__input_button {
    margin: auto;
    /* margin-bottom: 34px; */
    width: 200px;
    max-width: 100%;
}


.checkbox-contacts {
    /* I agree to the processing of personal data*/
    /* padding-top: 16px; */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    margin-bottom: 39px;
    display: flex;
    /* width: 285px; */
    max-width: 100%;
    gap: 8px;
    margin: 0 auto;
}

.checkbox-contacts input {
    opacity: 0;
    margin-right: -28px;
}

.checkbox-contacts input+span {
    border-radius: 1px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E3B873;
    background-color: transparent; 
}


.checkbox-contacts input:checked + span::before {
    content: '\2713\0020';  /*Символ галочки Unicode */
    /*transform: rotate(45deg);*/
    color: white;       /* Белый цвет галочки */
    font-size: 14px;    /* Размер символа */
    position: relative; /* Положение относительно родителя */
}
.checkbox-contacts input:checked+span {
    background: #E3B873;
}

.contact-info {
    width: 589px;
    margin: 0 auto 43px;
    max-width: 100%;
    /* margin-bottom: 43px; */
}

.contact-info-text {
    /* Rostov-on-Don, Nansen St., 239 Shopping Center Decorum Tel +7 (928) 768 32 29 */
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 26px;
    max-width: 100%;
}

.contact-info-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.map-mobile {
    display: none;
}

.map {
    width: 925px;
    max-width: 100%;
    margin: 0 auto;
}

.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.burger-icon {
    display: none;
}

.burger-icon span {
    display: block;
    height: 5px;
    width: 45px;
    background-color: #FFF;
}

.burger-icon span:nth-child(2) {
    margin: 6px 0;
}



/*-------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------
*/


@media (max-width: 1170px) {
    .header-navigation {
        gap: 10px 20px;
        margin-right: 15px;
    }

    .header-navigation__item {
        margin: 0;
    }

    .button {
        padding: 10px 15px;
    }

    .projects-nav {
        padding: 0 20px;
    }

    /* ВИДЫ РЕМОНТА */
    .design_card_container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px 30px;
    }

    .design-card:last-child {
        align-self: center;
        flex: initial;
        /*flex: none;*/
    }

    /* ФОРМА */
    .measurer__container {
        gap: 30px;
    }

    .measurer__right {
        padding: 20px 30px;
        max-width: 60%;
    }

    .client_card-container {
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;
    }
}


/*-------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------
*/


@media (max-width: 768px) {

    .header-navigation {
        display: none;
    }

    .burger-icon {
        display: block;
        /* height: 2px; */
        width: 24px;
        order: 1;
    }


    .burger-icon span {
        display: block;
        height: 2px;
        width: 24px;
    }

    .header-mobile {
        /* +7 (928) 768-32-39 */
        text-decoration-line: none;
        color: #FFFFFF;
    }

    .header-content,
    .menu {
        margin: 0;
    }

    .hero {
        padding: 142px 0 61px;
    }

    .hero__button {
        margin-bottom: 26px;
        width: 100%;
    }

    .hero__main {
        padding: 0 18px;
    }

    .tittle {
        /* Turnkey Repair in the city of Rostov-on-Don */
        font-size: 23px;
        line-height: 132.83%;
        margin-bottom: 16px;
    }

    .text-content {
        /* Get ready-made turnkey repairs on time with work time saving up to 45 days and 20% from cost of materials due to the organization of work */
        font-size: 14px;
        line-height: 135.84%;
        width: 339px;
    }

    .button {
        padding: 19px 69px;
    }

    /*.header-button {
        margin-right: 200px;
    }*/
    .button-none {
        padding: 19px 86px;
        margin-left: 0px;
        width: 100%;
    }

    .button-none span {
        display: none;
    }


    /*БЛОК ПРОЕКТЫ*/

    .projects {
        padding: 36px 0 40px;
    }

    .projects-nav {
        display: none;
    }

    .projects-slider {
        /* display: block; */
        justify-content: center;
    }

    .projects-main {
        margin: 0 auto;
        padding: 0 18px;
    }

    .projects-tittle {
        /* Completed projects */
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        /*width: 253px;*/
    }

    .projects-slider__left {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects-mobile__slider {
        display: flex;
        margin: 0 auto;
        position: relative;

    }

    .projects-mobile__slider img {
        width: max-content;
        max-width: 100%;
    }

    .projects-mobile__sign {
        display: flex;
        justify-content: space-between;
        margin-left: 18px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0 15px;
    }

    .projects-mobile__sign img {
        width: 36px;
    }

    .projects-mobile__sign__button {
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
    }


    .projects-text-content {
        /* Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families */
        font-size: 11px;
        line-height: 158.48%;
        text-align: center;
        width: 311px;
    }

    .projects-grid {
        margin-top: 36.5px;
        gap: 27px 101px;
    }

    .projects-grid__card__title {
        /*city*/
        font-size: 14px;
        line-height: 138.6%;
    }

    .projects-grid__card__text {
        /*Rostov-on-Don
    LCD admiral*/
        font-size: 11px;
        line-height: 135.84%;
    }

    .projects-bottom {
        margin: 58px auto 0;
    }

    .projects-bottom__left {
        display: none;
    }

    .projects-slider__right {
        display: none;
    }

    .control-tittle {
        /* online control */
        font-size: 22px;
        line-height: 138.6%;
    }


    /*ВВОД ДАННЫХ*/


    .input {
        background-color: #000;
        top: 0;
        z-index: 1;
    }

    .request-text {
        /* At each facility, a camera is installed that broadcasts the progress of work on the clock. 
        At any time, you can go to our website and monitor the progress of work in your apartment. 
        You can watch the live broadcast from one of our facilities! 
        Leave a request below and you will receive a link to the broadcast. */

        font-size: 11px;
        line-height: 169.8%;
        color: #FFFFFF;
        margin-bottom: 61px;
    }

    .input-submit {
        /* display: grid; */
        /* align-items: center; */
        align-items: stretch;
        margin-bottom: 0;
        position: relative;
        bottom: -25px;
    }

    .input_field {
        font-size: 14px;
        line-height: 138.72%;
        color: #FFFFFF;
        width: 100%;
        gap: 7px;
        order: 1;
    }

    .input_field span {
        /* Email */
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }

    .input_field input {
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        line-height: 164%;
        font-size: 14px;
        width: 100%;
    }

    .input_field input::placeholder {
        color: #FFFFFF
    }

    .input_button {
        width: 100%;
        order: 2;
    }

    .checkbox {
        order: 1;
        color: #FFF;
    }
    /*БЛОК ДИЗАЙНА*/

    .design {
        padding-bottom: 0;
    }

    .type-repair-title {
    /* TYPES OF REPAIR */
    padding-top: 58px;
    }


    .design-card {
        align-self: center;
        flex: initial;
        padding-bottom: 79px;
        /*flex: none;*/
    }

      .design-card__text {
        align-self: start;
        padding: 21px 41px 37px 31px;
        /*flex: none;*/
    }

     .design-card__tittle {
        padding-bottom: 10px;
        font-size: 15px;
        line-height: 138.6%;
    }

    .measurer {
        display: none;
    }

    .client {
        display: none;
    }


    /*БЛОК СТИЛЕЙ*/

    .style {
        background-image: none;
        padding: 0;
    }

    .style::after {
        background: none;
    }


    .style__left_title {
        text-align: center;
    }


    .style__left_list {
        display: none;
    }

   /* .style__right-mobile {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: -270px;

    }*/

    .style__right {
        /* display: none; */
        top: 0;
        left: 0;
        right: 0;
        height: 242px;
        width: 420px;
        max-width: 100%;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
        z-index: 2;
        overflow: hidden;
    }

    .style__right__card {
        margin: 0 !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 100%;
        z-index: 1;
    }


    .style__right__card:first-child {
     /*   position: relative; 03.09*/
       /* z-index: 2;*/
        z-index: 3; /*03.09*/
    }

    .style__right__card:nth-last-of-type(1) 
    {
        z-index: 2; /* Четвертая картинка опускается ниже первой */
    }

    .style-mobile__sign {
        display: flex;
        justify-content: space-between;
        margin-left: 18px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0 15px;
        /*z-index: 3;*/
        z-index: 4;

    }

    .style-mobile__sign img {
        width: 36px;
    }

    .style-mobile__sign__button {
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
    }


    .contacts__inner {
        top: 0;
    }

    .contacts__fields-person {
        display: inline;
    }

    .contacts-background {
        max-width: 100%;
        background-color: black;
        padding: 222px 50px 0px;
        margin-top: -100px;
    }

    .contacts::after {
        background: black;
    }
    .footer {}
}


@media (max-width: 620px) {
    .header-button {
        display: none;
    }


}


@media (max-width: 376px) {
    .burger-icon {
        display: none;
    }

    .header--bottom {
        display: none;
    }

    .request-text {
        margin-bottom: 61px;
    }

    .line_55 {
    /* line_55 */
    margin: 28px auto 0;
    margin-bottom: 22px;
}
    .design-card {
        padding-bottom: 59px;
    }
    .design_card_container {
        gap: 0;
    }

    .design-card__text {
        width: 260px;
        font-size: 13px;
        line-height: 169.8%;
        padding: 21px 0px 37px 31px;
    }

    .design-card__button {
        padding: 11px 19px;
    }
    .contacts-background {
        padding: 222px 50px 50px 18px;
    }

    .contacts__input_button {
        width: 100%;
        margin-bottom: 46px;
    }

    .map {
        display: none;
    }

    .map-mobile {
        display: flex;
    }

    .map img {
        margin-top: -100px;
        margin-bottom: 41px;
    }

    .contacts {
        background: #000;
    }
}